.ProjectItem {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: top;
  flex-grow: 0;
  flex-basis: 33%;

  padding: 20px !important;

  margin-bottom: 3em;
  box-shadow: 5px 5px 30px 0px rgba(0, 0, 0, 0.171);

  .project-info {
    width: 20rem;
    margin: 20px;
  }

}
